<!DOCTYPE html>

<html xmlns:th"http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">
<link rel="stylesheet" type=""text/css"" href="/css/bootstrap.min.css"/>
<title>CadastroHerois&Viloes</title>
</head>

<body>
<style>
    body {
        background-color: #ABBAEA;
    }
    div {
        height: 200px;
        margin: 20px;
        border: 5px solid;
        background-color: #FBD603;
    }
</style>
<table class ="table">
<thead>
<tr>
<th scope="col"><Codigo></th>
<th scope="col"><Nome></th>
<th scope="col"><Tipo></th>
<th scope="col"><Valor></th>
<th scope="col"><Imagem></th>
</tr>

</thead>

<tbody>

<tr th:each = "prato: ${listaPratos}">
<td th:text = "${prato.codigo}"></td>
<td th:text = "${prato.nome}"></td>
<td th:text = "${prato.tipo}"></td>
<td th:text = "${prato.valor}"></td>
<td th:text = "${prato.imagem}"></td>
<td><a th:href="@{/pratos/excluir/{codigo}(codigo = ${prato.codigo})}"> <button type="button" class="btn btn-danger">Excluir</button></a></td>
<td> <a class="btn btn-primary" th:href="@{/pratos/atualizar/{codigo}(codigo = ${pessoa.codigo})}"> Atualizar </a></td>
</tr>

</tbody>
</table>
<script src"/js/bootstrap.min.js"> </script>
</body>

</html>
